:root {
  --color-darkest: #2d3134;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f1ec;
  color: rgb(76, 75, 75);
  line-height: 1.1;
  padding: 2rem;
}

.App-logo {
  height: 3.5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.App-link {
  color: #61dafb;
}

.App main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.panels-wrapper {
  color: var(--color-light);
  display: flex;
  gap: 1rem;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.125rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.data-panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.1;
  background-color: var(--color-darkest);
  min-width: 18rem;
  padding: 2.5rem 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.dashboard_data_wrapper {
  min-width: 15rem;
}

#open-acct_form {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 0.75rem;
}
#close-acct_form,
#loans_form,
#payments_form,
#deposits_form,
#withdrawal_form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
  color: var(--color-medium);
  font-size: 1.4rem;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.error {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 25%;
}

.currency_span {
  background-color: var(--color-dark);
  padding: 0.125rem 0.5rem;
  border-radius: 0.5rem;
}

.btn_menu {
  width: 100%;
  display: block;
  font-family: inherit;
  text-align: left;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 0.65rem 1.125rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.btn_menu:not([disabled]):hover {
  background-color: var(--color-darkest);
  border: 2px solid var(--color-darkest);
}
.btn_menu:disabled {
  opacity: 45%;
  cursor: default;
}

button {
  font-size: 1rem;
  color: var(--color-light);
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 90%;
}

button:disabled {
  opacity: 60%;
  cursor: default;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0.35rem 0;
}

p {
  margin: 0.125rem 0 0.35rem 0;
}

input {
  padding: 0.25rem;
  margin-top: 0.5rem;
}
